<a href="https://colab.research.google.com/github/abel2810/abel2810/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data types

In [ ]:
2

2

In [ ]:
type(2)

int

In [ ]:
type(2.0)

float

In [ ]:
2/3

0.6666666666666666

In [ ]:
type(2/3)

float

In [ ]:
type("hi")

str

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
type(math.pi)

float

In [ ]:
type("math.pi")

str

In [ ]:
type(None)

NoneType

In [ ]:
type(True)

bool

##Lists

In [ ]:
numbers=[1,2,3,4,5, "hi",math.pi, None, False], 2/3

In [ ]:
numbers

([1, 2, 3, 4, 5, 'hi', 3.141592653589793, None, False], 0.6666666666666666)

In [ ]:
type(numbers)

tuple

In [ ]:
numbers[0:3]

([1, 2, 3, 4, 5, 'hi', 3.141592653589793, None, False], 0.6666666666666666)

In [ ]:
numbers2=[2,3,4,5]

In [ ]:
numbers2

[2, 3, 4, 5]

In [ ]:
sum(numbers2)

14

In [ ]:
len(numbers2)

4

$2^3$??

In [ ]:
2**3

8

$6*10^{-1} =\frac {6}{10}$

In [ ]:
6*10**(-1)

0.6000000000000001

In [ ]:
x=6
y=7

if x < y:
  print("x is less than y")
else:
    print("y is less than x")

x is less than y

In [ ]:
x=6
y=7

if x < y:
  print("{} is less than {}".format(x,y))
else:
    print("{} is less than {}".format(y,x))

6 is less than 7

In [ ]:
x=6
y=7

if x < y:
  print("{} is less than {}".format(x,y))
else:
    print("Deafault messeage") #it is out of if condition

6 is less than 7

In [ ]:
myList = [True, 6<5, 1==3, 2/3, None is None]

In [ ]:
for itr in myList:
  print(itr, "\t", type(itr))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
0.6666666666666666 	 <class 'float'>
True 	 <class 'bool'>

In [ ]:
print(*myList)

True False False 0.6666666666666666 True

In [ ]:
myList

[True, False, False, 0.6666666666666666, True]

In [ ]:
print(*myList,sep="\n")

True
False
False
0.6666666666666666
True

In [ ]:
another_list=["f","a","c","df","ee"]
another_list

['f', 'a', 'c', 'df', 'ee']

In [ ]:
another_list.sort()

In [ ]:
another_list

['a', 'c', 'df', 'ee', 'f']

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path=("/content/drive/MyDrive/datasets/Cartwheeldata.csv")
import pandas as pd
df= pd.read_csv(path)
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [5]:
df.tail(2)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [6]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [8]:
print(*df.columns, sep='\n')

ID
Age
Gender
GenderGroup
Glasses
GlassesGroup
Height
Wingspan
CWDistance
Complete
CompleteGroup
Score

In [9]:
df.Gender

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object

In [10]:
x=df.Gender

In [12]:
type(x)

pandas.core.series.Series

In [15]:
type(df.columns)

pandas.core.indexes.base.Index

In [17]:
df['Gender'].head(2)

0    F
1    F
Name: Gender, dtype: object

In [19]:
type(df[['Gender']])

pandas.core.frame.DataFrame

## loc & iloc syntax

**loc** : df.loc[startRowName : endRowName, startColumnName:endColumnName]

**iloc** : df.loc[startRowIndex : endRowIndex, startColumnIndex:endColumnIndex]

In [22]:
df.loc[:, 'Gender']

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object

In [23]:
df.iloc[:, 2]

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object

In [24]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [33]:
dataFavs=('Gender','Glasses','Height')

In [35]:
df.loc[:,dataFavs]

   Gender Glasses  Height
0       F       Y   62.00
1       F       Y   62.00
2       F       Y   66.00
3       F       N   64.00
4       M       N   73.00
5       M       N   75.00
6       M       N   75.00
7       F       N   65.00
8       M       Y   74.00
9       F       Y   63.00
10      M       Y   69.50
11      F       Y   62.75
12      F       Y   65.00
13      F       N   61.50
14      M       Y   73.00
15      M       Y   71.00
16      F       N   61.50
17      M       N   66.00
18      M       Y   70.00
19      F       Y   68.00
20      M       Y   69.00
21      M       N   71.00
22      M       N   70.00
23      M       N   69.00
24      F       Y   65.00

In [31]:
type(df.loc[:,'Gender'])

pandas.core.series.Series

In [29]:
  df.iloc[:,2]

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object

In [36]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [38]:
df.iloc[:,2:7]

   Gender  GenderGroup Glasses  GlassesGroup  Height
0       F            1       Y             1   62.00
1       F            1       Y             1   62.00
2       F            1       Y             1   66.00
3       F            1       N             0   64.00
4       M            2       N             0   73.00
5       M            2       N             0   75.00
6       M            2       N             0   75.00
7       F            1       N             0   65.00
8       M            2       Y             1   74.00
9       F            1       Y             1   63.00
10      M            2       Y             1   69.50
11      F            1       Y             1   62.75
12      F            1       Y             1   65.00
13      F            1       N             0   61.50
14      M            2       Y             1   73.00
15      M            2       Y             1   71.00
16      F            1       N             0   61.50
17      M            2       N             0   66.00
18      M            2       Y             1   70.00
19      F            1       Y             1   68.00
20      M            2       Y             1   69.00
21      M            2       N             0   71.00
22      M            2       N             0   70.00
23      M            2       N             0   69.00
24      F            1       Y             1   65.00

In [39]:
df.loc[:,dataFavs]

   Gender Glasses  Height
0       F       Y   62.00
1       F       Y   62.00
2       F       Y   66.00
3       F       N   64.00
4       M       N   73.00
5       M       N   75.00
6       M       N   75.00
7       F       N   65.00
8       M       Y   74.00
9       F       Y   63.00
10      M       Y   69.50
11      F       Y   62.75
12      F       Y   65.00
13      F       N   61.50
14      M       Y   73.00
15      M       Y   71.00
16      F       N   61.50
17      M       N   66.00
18      M       Y   70.00
19      F       Y   68.00
20      M       Y   69.00
21      M       N   71.00
22      M       N   70.00
23      M       N   69.00
24      F       Y   65.00

In [40]:
df.iloc[:,-4:]

    CWDistance Complete  CompleteGroup  Score
0           79        Y              1      7
1           70        Y              1      8
2           85        Y              1      7
3           87        Y              1     10
4           72        N              0      4
5           81        N              0      3
6          107        Y              1     10
7           98        Y              1      9
8          106        N              0      5
9           65        Y              1      8
10          96        Y              1      6
11          79        Y              1     10
12          92        Y              1      6
13          66        Y              1      4
14          72        Y              1      9
15         115        Y              1      6
16          90        N              0     10
17          74        Y              1      5
18          64        Y              1      3
19          85        Y              1      8
20          66        N              0      2
21         101        Y              1      8
22          82        Y              1      4
23          63        Y              1      5
24          67        N              0      3

In [42]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [43]:
df.shape

(25, 12)

In [46]:
df.Height.unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [52]:
df.groupby(['Gender','Glasses']).size()

Gender  Glasses
F       N          4
        Y          8
M       N          7
        Y          6
dtype: int64

In [56]:
df[['Gender','GlassesGroup']].value_counts()

Gender  GlassesGroup
F       1               8
M       0               7
        1               6
F       0               4
dtype: int64

UnicodeDecodeError: ignored